<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  
  <TransportConfig MaximumConcurrencyLevel="1" MaxRetries="0" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="OrderService.Contracts" Endpoint="orderservice"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="NServiceStub.IntegrationTests.WCF.ISomeServiceConfiguredInAppConfigStub"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:9102/someservice"
                  binding="netTcpBinding" bindingConfiguration="TcpConfiguration"
                  contract="NServiceStub.IntegrationTests.WCF.ISomeServiceConfiguredInAppConfig" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TcpConfiguration">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior"></behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>