<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" /></configSections>
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" />
  
  <UnicastBusConfig>
    <MessageEndpointMappings></MessageEndpointMappings>
  </UnicastBusConfig>

  <system.serviceModel>
    <diagnostics performanceCounters="ServiceOnly" />
    <services>
      <service name="OrderService.OrderService" behaviorConfiguration="OrderServiceBehavior">
        <endpoint binding="netNamedPipeBinding" contract="OrderService.Contracts.IOrderService" bindingConfiguration="NamedPipeBinding" address="net.pipe://localhost/OrderService" />
        <endpoint binding="netTcpBinding" contract="OrderService.Contracts.IOrderService" bindingConfiguration="netTcp" address="net.tcp://localhost:9252/orderservice" />
        <endpoint binding="basicHttpBinding" contract="OrderService.Contracts.IOrderService" address="http://localhost:9101/orderservice" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxConnections="15" listenBacklog="15" maxBufferSize="2048000" maxReceivedMessageSize="2048000">
          <security mode="None" />
          <readerQuotas maxArrayLength="2048000" maxBytesPerRead="2048000" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderServiceBehavior">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2048000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


<MessageForwardingInCaseOfFaultConfig ErrorQueue="error" /></configuration>